th, td {
	padding: 0.3em;
}

.num-al {
	text-align: right;
}
.text-al {
	text-align: left;
}

.thead-own {
	color: white;
	background-color: black;
}

.tbody-own tr:nth-child(odd){
	background-color: #eee;
}

.tfoot-own {
	color: white;
	background-color: black;
}

.mdn {
	background-color: #eee;
	width: 700px;
	padding: 5px;
	font-family: sans-serif;
}

.mdn th {
	background-color:#f7f7f7;

}

.mdn td {
	text-align: center;
	background-color: white;
}